<div class="container">
    <a href="/students">Back to Students Page</a>
    <h3>Cohort: <a href="/cohorts/{{cohort.id}}">{{cohort.language}}</a></h3>
    <article class="user-card">
        <figure class="user-card__avatar-container">
            <img class="user-card__avatar" src="{{student.imageUrl}}" alt="user avatar" />
        </figure>
        <h3 class="user-card__name">{{student.firstName}} {{student.lastName}}</h3>
        <h4 class="user-card__username">{{student.id}}</h4>
        <ul>
            {{#each assignments}}
                <li><a href="/assignments/{{id}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </article>
</div>
